# Maven output directory
target/

# Logs
logs

# Eclipse stuff
.classpath
.project
.settings
.checkstyle

# Intellij stuff
.idea
*.iml

# Testing files and indexes:
file*.txt
*_linerServerIndex

# vim temporary files
*~
