# Maven output directory
line-server/target/

# Eclipse stuff
.classpath
.project
.settings
.checkstyle

# Intellij stuff
.idea
*.iml

# Testing files and indexes:
file*.txt
*_lineServerIndex

# vim temporary files
*~
